h1 {
    text-align: center;
    background-color: rgba(202, 189, 196, 0.856);
    font-weight: 600;
    padding: 15px;
    border-radius: 10px;
}

input {
    width: 60%;
    padding: 10px;
    border-radius: 10px;
}

.main-class {
    width: 45%;
    margin-left: 20px;
    float: left;
}

button {
    background-color: #d2d1ca;
    font-size: 1rem;
    color: #508f91;
    padding: 11px 13px;
    border-radius: 8px;
    box-shadow: 2px 5px 5px black;
}

table {
    width: 90%;
    text-align: center;
}

table,
th,
td {
    padding: 10px;
    border: 2px solid #f4f6f7;
    border-collapse: collapse;
}

th {
    background-color: rgb(240, 140, 190);
}

tr:nth-child(even) {
    background-color: rgb(221, 208, 208);
}

tr:nth-child(odd) {
    background-color: rgb(206, 201, 201);
}